{% extends "base.html" %}
{% block body %}
<section>
    <table>
        <tr>
            <th> Username: </th>
            <th> Email: </th>
            <th> Age group: </th>
            <th> bio: </th>
            <th> Friends: </th>
            <th> Is admin?: </th>
            <th> Deleted?: </th>
            <th> Profile pic: </th>
        </tr>
    {% for user in users %}
        <tr>
            <td> {{ user.username }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.age }} </td>
            <td> {{ user.bio }} </td>
            <td> {{ user.friends }} </td>
            {% if user.isAdmin == 0 %} <td> No </td> {% else %} <td> Yes </td> {% endif %}
            {% if user.isDeleted == 0 %} <td> No </td> {% else %} <td> Yes </td> {% endif %}
            <td> 
                <img src="data:image/jpg;base64,{{ user.profile_pic }}" alt="Profile picture" width="100", height="100"/>
            </td>
            <td> 
                <a href="{{ url_for("admin_del_user", change_id= user.id) }}">DEL USER</a>
            </td>
            <td>
                <a href="{{ url_for("admin_del_pfp", change_id= user.id) }}">DEL PIC</a>
            </td>
            <td>
                <a href="{{ url_for("admin_del_admin", change_id= user.id) }}">DEL/GIVE PRIVILEGES</a>
            </td>
            <td>
                <a href="{{ url_for("admin_del_bio", change_id= user.id) }}">DEL BIO</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{{ url_for("admin", page = page - 1) }}" >Previous page</a>
    <a href="{{ url_for("admin", page = page + 1) }}" >Next page</a>
    <hr>
    <a href="{{ url_for("admin_sights", page = 1) }}" >Admin sights</a>
    <a href="{{ url_for("index") }}">back to menu</a>
</section>
{% endblock %}