{% extends "base.html" %}

{% block body %}
{% from "macros/_form_helper.html" import render_field %}
<section>
    <form method="post" action="{{ url_for('admin_achievements_edit', id=id, attraction_id=attraction_id) }}" enctype="multipart/form-data">
    {{ achievement.csrf_token }}
    <dl>
        {{ render_field(achievement.name) }}
        {{ render_field(achievement.description) }}
        {{ render_field(achievement.pass_code) }}
        {{ render_field(achievement.xp_reward) }}
        {% if achievement.attraction_id.disabled %}
            {{ render_field(achievement.attraction_id) }}
        {%endif%}
        {{ render_field(achievement.age_rating) }}
    </dl>
    {{ achievement.hidden_tag() }}

    <input type="submit" value="Submit">
    <hr>
    <a href="{{ url_for('index') }}">Back to menu</a>
    <a href="{{ url_for('admin_achievements', page=1, attraction_id=attraction_id) }}">Back to Admin achievements</a> <!-- Adjust if necessary -->
</section>
{% endblock %}
