{% extends "base.html" %}
{% block body %}
<section>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>XP Reward</th>
            <th>Age Rating</th>
            <th>Unlock link/QR</th>
            <th>Actions</th>
        </tr>
        {% for achievement in achievements %}
        <tr>
            <td>{{ achievement.name }}</td>
            <td>{{ achievement.description }}</td>
            <td>{{ achievement.xp_reward }}</td>
            <td>{{ achievement.age_rating }}</td>
            <td>
                <a href="{{ url_for("unlock_achivement", attraction = achievement.attraction_id, passcode = achievement.pass_code) }}">Link</a>
                <a href="{{ url_for("qr_code", attraction_id = achievement.attraction_id, passcode = achievement.pass_code) }}" download>
                    <button>Download QR code</button>
                </a>
            </td>
            <td>
                <a href="{{ url_for('admin_achievements_edit', id=achievement.id, attraction_id=attraction_id) }}">Edit</a>
                <form method="POST" action="{{ url_for('toggle_achievement_status', id=achievement.id, attraction_id=attraction_id) }}" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="toggle-btn">{{ "Enable" if achievement.is_deleted else "Disable" }}</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">No achievements found.</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('admin_achievements', page=page - 1, attraction_id=attraction_id) }}" {% if page <= 1 %}class="disabled"{% endif %}>Previous page</a>
    <a href="{{ url_for('admin_achievements', page=page + 1, attraction_id=attraction_id) }}">Next page</a>
    <a href="{{ url_for('add_achievement', attraction_id=attraction_id) }}">Add New Achievement</a>
    <hr>
    <a href="{{ url_for('index') }}">Back to menu</a>
</section>
{% endblock %}
