{% extends "base.html" %}
{% block body %}
{% from "macros/_form_helper.html" import render_field %}
<section>
    <form method="post" action="{{ url_for("admin_sights_edit", id = id) }}" enctype="multipart/form-data">
    {{ attraction.csrf_token }}
    <dl>
        {{ render_field(attraction.name) }} 
        {{ render_field(attraction.description) }}

        {{ render_field(attraction.address) }}
        {{ render_field(attraction.location_coordinates) }}

        {{ render_field(attraction.age_recommendation) }}
        {{ render_field(attraction.category) }}
        {{ render_field(attraction.keywords) }}
        {{ render_field(attraction.image) }}
        <img src="data:image/jpg;base64,{{ image }}" alt="Profile picture" width="150", height="150"/>
    </dl>
{{ attraction.hidden_tag() }}

<input type="submit" value="submit">
<hr>
<a href="{{ url_for("index") }}">Back to menu</a>
<a href="{{ url_for("admin_sights") }}">Back to Admin sights</a>
</section>
{% endblock %}