{% extends "base.html" %}
{% block body %}
<section>
    <table>
        <tr>
            <th>Name:</th>
            <th>Description:</th>
            <th>Category:</th>
            <th>Recommended age:</th>
            <th>Location:</th>
            <th>Address:</th>
            <th>Group:</th>
            <th>Keywords:</th>
            <th>Deleted?:</th>
            <th>Image:</th>
        </tr>
    {% for attraction in attractions %}
        <tr>
            <td> {{ attraction.name }} </td>
            <td> {{ attraction.description }} </td>
            <td> {{ attraction.category }} </td>
            <td> {{ attraction.age_recommendation }} </td>
            <td> {{ attraction.location_coordinates }} </td>
            <td> {{ attraction.address }} </td>
            <td> {{ attraction.group }} </td>
            <td> {{ attraction.keywords }} </td>
            <td> {{ attraction.isDeleted }} </td>
            <td> <img src="data:image/jpg;base64,{{ attraction.image }}" alt="Profile picture" width="150", height="150"/> </td>
            <td> <a href="{{ url_for("admin_sights_edit", id = attraction.id) }}">EDIT</a></td>
        </tr>
    {% endfor %}

    </table>
    <a href="{{ url_for('admin_sights', page = page - 1) }}">Previous page</a>
    <a href="{{ url_for('admin_sights', page = page + 1) }}">Next page</a>
    <a href="{{ url_for('add_attraction') }}">Add New Attraction</a>
    <hr>
    <a href="{{ url_for("admin") }}">Admin panel</a>
    <a href="{{ url_for("index") }}">Back to menu</a>

</section>
{% endblock %}