{% extends "base.html" %}
{% block body %}
<section>
    {% from "macros/_form_helper.html" import render_field %}
    <form action="{{ url_for('add_attraction') }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.category) }}
            {{ render_field(form.age_recommendation) }}
            {{ render_field(form.location_coordinates) }}
            {{ render_field(form.address) }}
            {{ render_field(form.group) }}
            {{ render_field(form.keywords) }}
            {{ render_field(form.image) }}
        </dl>
        {{ form.hidden_tag() }}
        <input type="submit" value="Submit">
    </form>
    <hr>
    <a href="{{ url_for("index") }}">Back to menu</a>
    <a href="{{ url_for("admin_sights", page = 1) }}">Back to Admin sights</a>
</section>
{% endblock %}
