<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="menu-container" class="menu-container">
            <div id="menu-items" class="menu-items">
                <br>
                <a href="{{ url_for('index') }}">Home</a>
                {% if is_logged_in %}
                    <a href="{{ url_for('profile') }}">Edit Profile</a>
                    <a href="{{ url_for("logout") }}">Log Out</a><br>
                    <a href="{{ url_for('admin_sights') }}">Admin sights</a>
                    <a href="{{ url_for("admin")}}">Admin panel</a>
                {% else %}
                    <a href="{{ url_for("login")}}">Login </a><br>
                    <a href="{{ url_for('sign_up') }}">Sign Up</a>
                {% endif %}
                <a href="{{ url_for("map_test")}}">MAP TEST</a><br>
                <a href="https://youtu.be/dQw4w9WgXcQ?si=JHy6sufDJF2QDlSB?autoplay=1">Misc</a>
                <!-- add more links as needed -->
            </div>
        </div>
        <button id="menu-toggle" class="menu-toggle">☰</button>
        <script src="{{ url_for('static', filename='scripts/menu-toggle.js') }}" defer></script>
        <div id="ContentBody">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

