<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: 'JetBrains Mono', sans-serif;
            }
        </style>
        {% block script %}
        {% endblock %}
        <title>{{ title }}</title>
    </head>

    <body {% block body_args %} {% endblock %} >
        <div id="menu-container" class="menu-container">
            <div id="menu-items" class="menu-items">
                <br>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for("people_list", page = 1) }}">People</a>
                <a href="{{ url_for("leaderboard", page = 1) }}">Leaderboard</a>
                <a href="{{ url_for('attractions_list') }}">Places to Explore</a>
                <a href="{{ url_for("login")}}">Login </a>
                <a href="{{ url_for('sign_up') }}">Sign Up</a>
                {% if session["is_logged_in"] %}
                    <a href="{{ url_for('people_page', username=session['user']) }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                    {% if session['admin'] %}
                        <a href="{{ url_for('admin_sights', page = 1) }}">Admin sights</a>
                        <a href="{{ url_for('admin', page = 1)}}">Admin users</a>
                        <a href="{{ url_for('admin_achievements', page = 1) }}">Manage Achievements</a>
                        <a href="{{ url_for('admin_posts', page = 1) }}">Manage Posts</a>
                        {% endif %}
                {% endif %}                
                <a href="{{ url_for('funi', id = 2 ) }}">Narvik sentrum [LIVE]</a>
                <!-- add more links as needed -->
            </div>
        </div>
        <div id="topnav" class="topnav">   
            {% if session["is_logged_in"] %}
                <div id="userinfo" class="userinfo">
                    <a href="{{ url_for('people_page', username=session['user']) }}">{{ session['user'] }}</a>
                    <div class="button-container">
                        <a href="{{ url_for('logout') }}" class="menu-button">Log Out</a>
                    </div>
                </div>
            {% else %}
                <div class="button-container">
                    <a href="{{ url_for('login') }}" class="menu-button">Login</a>
                    <a href="{{ url_for('sign_up') }}" class="menu-button">Sign Up</a>
                </div>
            {% endif %}
            <div id="narvik" class="narvik">
                <a href="{{ url_for('index') }}" class="narvik-link">NARVIK</a>
            </div>
            <button id="menu-toggle" class="menu-toggle">☰</button>
            <script src="{{ url_for('static', filename='scripts/menu-toggle.js') }}" defer></script>
        </div> 
        <div id="ContentBody">
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>

