{% extends "base.html" %}

{% block body %}
<section class="translucent-section">
    {% if is_logged_in %}
        <h1>Welcome back, 
            <p>{{ fullname }}!</p></h1><br>
        <img src="data:image/jpg;base64,{{ pfp }}" alt="Profile picture">
        <p> Username: {{ username }} </p>
        {% if bio %}
        <p> Bio: {{ bio }} </p>
        {% endif %}
        <p> Achievements: You've earned {{ xp }} points.</p>
        <p> Congrats! You are {{ user_status }} in Narvik</p>
        {% else %}
        <h1>Welcome to Narvik!</h1>
    {% endif %}

    {% if is_logged_in %}
        <a href="{{ url_for("logout") }}">Log Out</a><br>
    {% else %}
        <a href="{{ url_for("login")}}">Login </a><br>
        <a href="{{ url_for('sign_up') }}">Sign Up</a>
    {% endif %}

    <!-- <a href="{{ url_for("attractions_list")}}">view_attractions test</a><br>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=JHy6sufDJF2QDlSB?autoplay=0">Misc</a><br>
    <br>
    <a href="{{ url_for("view_attraction", attraction_id=1)}}">narvikfjellresturante</a> -->

    <br>
    <br>
    <h1>Local News</h1>
    <p>A new Italian restaurant you need to check out!</p>
    <p>Local stand up comedian Mikael Lunde Isaksen with his one-lines.</p>
    <p>Swinger party down by the local pub right now come take a look. Your mother.</p>
    
    <br>
    <a href="{{ url_for('attractions_list') }}">
        <h1>Places to Explore</h1>
    </a>
    
    {% for attraction in attractions %}
        <h3>{{ attraction.name }}</h3>
        <p>{{ attraction.description }}</p>
    {% endfor %}

</section>
{% endblock %}