{% extends "base.html" %}

{% block body %}
<section>
    {% if is_logged_in %}
        <img src="data:image/png;base64,{{ pfp }}" alt="Profile picture">
        <p> {{ username }} </p>
        {% if bio %}
        <p> {{ bio }} </p>
        {% endif %}

    {% endif %}
    <h1>Hallo, Verden!</h1><br>
    <a href="{{ url_for("profile")}}">Edit Profile</a><br>
    <a href="{{ url_for("login")}}">Login </a><br>
    <a href="{{ url_for("sign_up")}}">Sign up</a><br>
    <a href="{{ url_for("map_test")}}">MAP TEST</a><br>
</section>
{% endblock %}

