{% extends "base.html" %}

{% block body %}
<section>
  
    <a href="{{ url_for('index') }}">
        <h1>Local News</h1>
    </a>
    <p>A new Italian restaurant you need to check out!</p>
    <p>Local stand up comedian Mikael Lunde Isaksen with his one-lines.</p>
    <p>Swinger party down by the local pub right now come take a look; Your mother.</p>
    
    <br>
    <a href="{{ url_for('attractions_list') }}">
        <h1>Places to Explore</h1>
    </a>

    {% for attraction in attractions %}
        <h3>{{ attraction.name }}</h3>
        <p>{{ attraction.description }}</p>
    {% else %}
        <p>No attractions to display so far.</p>
    {% endfor %}  

    <!-- user feed -->
    {% if "is_logged_in" in session and session["is_logged_in"] %}
        {% from "macros/post_widget.html" import post_widget %}
        {{ post_widget(post_form) }}
    {%endif%}

</section>

{% endblock %}