{% extends "base.html" %}
{% block body %}
<section>
    <table>
        {% for user in users %}
            <tr>
                <td> <img src="data:image/jpg;base64,{{ user.profile_pic }}" alt="Profile picture" width="100", height="100"/> </td>
                <td><a href="{{ url_for("people_page", username=user.username) }}">
                    {{ user.username }}
                </a></td>
                <td>{{ user.xp_collected }}XP</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for("leaderboard", page = page - 1) }}" >Previous page</a>
    <a href="{{ url_for("leaderboard", page = page + 1) }}" >Next page</a>
    <hr>
    <a href="{{ url_for("index") }}">back to menu</a>
</section>

{% endblock %}
