{% extends "base.html" %}
{% block body %}
<section>
    <h1>Edit Profile</h1>
    {% from "macros/_form_helper.html" import render_field %}
    <form method="post" action="{{ url_for("profile") }}" enctype="multipart/form-data">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.year) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.bio) }}

            {{ render_field(form.picture) }}
            <img src="data:image/jpg;base64,{{ profile_picture }}" alt="Profile picture">
            {{ render_field(form.keep_picture) }}
        </dl>
        
        {{ form.hidden_tag() }}
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for("index") }}">back to menu</a>
</section>
{% endblock %}