{% extends "base.html" %}
{% block body %}
<section>
    <h1>Sign up</h1>
    {% from "macros/_form_helper.html" import render_field %}
    <form method="post">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
        </dl>

        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for("index") }}">back to menu</a>
</section>
{% endblock %}